<h1>This is Rails in real time with Action Cable!
</h1>
<div id ="messages">
  <%= render @messages %>
</div>

<form>
  <label> Say Something: </label>
  <input type="text" data-behavior="room_speaker">
</form>